body
{
    background: gray;
    color: white;
    
}

.hint
{
    display:block;
    position:absolute;
    top:5;
    left:25;
    /*width:200px;
    height:100px;*/
    background:green;
    border:2px solid black;
}
